{
    "printWidth": 140,
    "useTabs": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "singleQuote": false,
    "overrides": [
        {
            "files": "*.ejs",
            "options": {
                "parser":"vue",
                "useTabs": true
            }
        }
    ]
}